[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=ID
ST=Jakarta
L=Jakarta Pusat
O=Arsip Surat Digital
OU=IT Department
CN=localhost
emailAddress=admin@arsipsurat.com
